<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody *ngIf="products && products.length">
                <tr *ngFor="let product of products;index as i">
                    <td>{{i+1}}</td>
                    <td>
                        <span>{{product.name}}</span>
                    </td>
                    <td>
                        <span>{{product.price}}</span>
                    </td>
                    <td>
                        <button routerLink="/admin/product/{{ product.id }}/edit">
                            Sửa
                        </button>
                        <button (click)="removeItem(product.id)">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <input type="button" routerLink="/admin/product/add" value="Them sp">
        </div>
    </div>

</div>